<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts/<%=post.id%>?_method=PATCH">
        <h3>Post id: <%= post.id %> </h3>
        <h4>uid: @<%= post.username %></h4>
        <h2>Auther: <%= post.name %></h2>
        <textarea name="content" placeholder="write your post here"><%= post.content %></textarea> <br>
        <button>Commit changes</button>
    </form>
</body>
</html>